<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('表格搜索')" />
	<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
			    <p class="select-title">普通條件查詢</p>
				<form id="ordinary-form">
					<div class="select-list">
						<ul>
							<li>
								商戶編號：<input type="text" name="userId"/>
							</li>
							<li>
								終端編號：<input type="text" name="termId"/>
							</li>
							<li>
								處理狀態：<select name="status">
									<option value="">所有</option>
									<option value="0">初始</option>
									<option value="1">處理中</option>
									<option value="2">交易成功</option>
									<option value="3">交易失敗</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重設</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 search-collapse">
			    <p class="select-title">時間條件查詢</p>
				<form id="time-form">
					<div class="select-list">
						<ul>
							<li>
								商戶編號：<input type="text" name="userId"/>
							</li>
							<li>
								終端編號：<input type="text" name="termId"/>
							</li>
							<li class="select-time">
								<label>創建時間： </label>
								<input type="text" class="time-input" id="startTime" placeholder="開始時間" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="結束時間" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('time-form')"><i class="fa fa-refresh"></i>&nbsp;重設</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 search-collapse">
			    <p class="select-title">多級同步下拉查詢</p>
				<form id="cxselect-form">
					<div class="select-list">
						<ul id="element">
						    <li>
								商戶編號：<input type="text" name="userId"/>
							</li>
							<li>
								儲值類型：<select class="type"></select>
							</li>
							<li>
								儲值路由：<select class="router"></select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('cxselect-form')"><i class="fa fa-refresh"></i>&nbsp;重設</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 search-collapse">
			    <p class="select-title">下拉多選條件查詢</p>
				<form id="select-form">
					<div class="select-list">
						<ul>
							<li>
								商戶編號：<input type="text" name="userId"/>
							</li>
							<li>
								終端編號：<input type="text" name="termId"/>
							</li>
							<li class="select-selectpicker">
								<label>操作類型： </label><select class="selectpicker" data-none-selected-text="請選擇" multiple>
									<option value="">所有</option>
									<option value="0">初始</option>
									<option value="1">處理中</option>
									<option value="2">交易成功</option>
									<option value="3">交易失敗</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('select-form')"><i class="fa fa-refresh"></i>&nbsp;重設</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 search-collapse">
			    <p class="select-title">複雜條件查詢</p>
				<form id="complex-form">
					<div class="select-list">
						<ul>
							<li>
								<label style="width: 80px">商戶編號：</label>
								<input type="text" name="userId"/>
							</li>
							<li>
								<label style="width: 80px">訂單號：</label>
								<input type="text" name="orderNo"/>
							</li>
							<li>
								<label style="width: 80px">日期：</label>
								<input type="text" class="time-input" placeholder="日期"/>
							</li>
							<li class="select-selectpicker">
								<label style="width: 80px">狀態：</label>
								<select class="selectpicker" data-none-selected-text="請選擇" multiple>
									<option value="">所有</option>
									<option value="0">初始</option>
									<option value="1">處理中</option>
									<option value="2">交易成功</option>
									<option value="3">交易失敗</option>
								</select>
							</li>
							<li>
								<label style="width: 80px">供貨商通道：</label>
								<select>
									<option value="">所有</option>
									<option value="0">騰訊</option>
									<option value="1">天貓</option>
									<option value="2">京東</option>
								</select>
							</li>
							<li>
								<label style="width: 80px">來源：</label>
								<select>
									<option value="">所有</option>
									<option value="0">手機</option>
									<option value="1">電腦</option>
									<option value="2">第三方</option>
								</select>
							</li>
							<li>
								<label style="width: 80px">運營商：</label>
								<select>
									<option value="">所有</option>
									<option value="0">移動</option>
									<option value="1">電信</option>
									<option value="2">聯通</option>
								</select>
							</li>
							<li class="select-time">
								<label style="width: 80px">回調時間：</label>
								<input type="text" class="time-input" placeholder="開始時間"/>
								<span>-</span>
								<input type="text" class="time-input" placeholder="結束時間"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm m50" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('complex-form')"><i class="fa fa-refresh"></i>&nbsp;重設</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-select-js" />
	<th:block th:include="include :: jquery-cxselect-js" />

	<script th:inline="javascript">
	    // 直接返回獲取
   		var data = [{"v":"taobao","n":"淘寶","s":[{"v":"tm","n":"天貓"},{"v":"jhs","n":"聚划算"}]},{"v":"jd","n":"京東","s":[{"v":"jdcs","n":"京東超市"},{"v":"jdsx","n":"京東生鮮"}]}];
    	$('#element').cxSelect({
    	  selects: ['type', 'router'],
    	  jsonValue: 'v',
    	  data: data
    	});
    </script>
</body>
</html>
