<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('模態窗口')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>模態窗口</h5>

                </div>
                <div class="ibox-content">
                    <p>創建自訂的RuoYi模態窗口可通過添加<code>.inmodal</code>類來實現。 </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">打開範例窗口</button>
                    </div>
                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">關閉</span>
                                    </button>
                                    <i class="fa fa-laptop modal-icon"></i>
                                    <h4 class="modal-title">窗口標題</h4>
                                    <small class="font-bold">這裡可以顯示副標題。
                                </div>
                                <div class="modal-body">
                                    <p><strong>RuoYi</strong>是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的jQuery插件，她可以用於所有的Web應用程式，如網站管理後台，網站會員中心，CMS，CRM，OA等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" placeholder="請輸入您的Email" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
                                    <button type="button" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>大小設置</h5>

                </div>
                <div class="ibox-content">
                    <p>模態窗口提供兩種大小尺寸，可以通過為模態窗口的<code>.modal-dialog</code>添加類來實現 </p>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">大模態窗口</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal6">小模態窗口</button>
                    </div>
                    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">窗口標題</h4>
                                    <small class="font-bold">這裡可以顯示副標題。
                                </div>
                                <div class="modal-body">
                                    <p><strong>RuoYi</strong>是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的jQuery插件，她可以用於所有的Web應用程式，如網站管理後台，網站會員中心，CMS，CRM，OA等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
                                    <button type="button" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">窗口標題</h4>
                                </div>
                                <div class="modal-body">
                                    <p><strong>RuoYi</strong>是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的jQuery插件，她可以用於所有的Web應用程式，如網站管理後台，網站會員中心，CMS，CRM，OA等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
                                    <button type="button" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>動畫窗口</h5>

                </div>
                <div class="ibox-content">
                    <p>您可以通過為模態窗口的<code>.modal-content</code>添加類來實現動畫效果 </p>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">沿X軸轉動</button>
                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">窗口標題</h4>
                                    <small class="font-bold">這裡可以顯示副標題。
                                </div>
                                <div class="modal-body">
                                    <p><strong>RuoYi</strong>是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的jQuery插件，她可以用於所有的Web應用程式，如網站管理後台，網站會員中心，CMS，CRM，OA等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
                                    <button type="button" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">基本動畫</button>
                    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated fadeIn">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <i class="fa fa-clock-o modal-icon"></i>
                                    <h4 class="modal-title">窗口標題</h4>
                                    <small>這裡可以顯示副標題。
                                </div>
                                <div class="modal-body">
                                    <p><strong>RuoYi</strong>是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的jQuery插件，她可以用於所有的Web應用程式，如網站管理後台，網站會員中心，CMS，CRM，OA等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">關閉</button>
                                    <button type="button" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>設置選項</h5>

                </div>
                <div class="ibox-content">
                    <p>可以透過數據綁定或者Javascript來實現模態窗口的相關功能，如果使用數據綁定，可以為元素添加<code>data-</code>，如<code>data-backdrop=""</code>。</p>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 100px;">名稱</th>
                                <th style="width: 50px;">類型</th>
                                <th style="width: 50px;">預設值</th>
                                <th>說明</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>backdrop</td>
                                <td>boolean 或 string <code>'static'</code></td>
                                <td>true</td>
                                <td>遮罩層，或使用<code>'static'</code>指定遮罩層與關閉模態窗口不關聯</td>
                            </tr>
                            <tr>
                                <td>keyboard</td>
                                <td>boolean</td>
                                <td>true</td>
                                <td>按Esc鍵時退出模態窗口</td>
                            </tr>
                            <tr>
                                <td>show</td>
                                <td>boolean</td>
                                <td>true</td>
                                <td>初始化完成後顯示模態窗口</td>
                            </tr>
                            <tr>
                                <td>remote</td>
                                <td>path</td>
                                <td>false</td>
                                <td>
                                    <p><strong class="text-danger">推薦使用數據綁定方式，或使用
                                        <a href="http://api.jquery.com/load/">jQuery.load</a></p>
                                    <p>遠程URL範例：</p>
                                    <div class="highlight">
                                        <pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">data-toggle=</span><span class="s">"modal"</span> <span class="na">href=</span><span class="s">"remote.html"</span> <span class="na">data-target=</span><span class="s">"#modal"</span><span class="nt">&gt;</span>Click me<span class="nt">&lt;/a&gt;</span></code></pre>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <th:block th:include="include :: footer" />
</body>
</html>
