<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增用戶')" />
</head>
<body>
    <div class="main-content">
        <form id="form-user-add" class="form-horizontal">
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">使用者名稱：</label>
                        <div class="col-sm-8">
                            <input name="userName" placeholder="請輸入使用者名稱" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">歸屬部門：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                            	<input name="deptName" type="text" placeholder="請選擇歸屬部門" class="form-control">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">手機號碼：</label>
                        <div class="col-sm-8">
                            <input name="phonenumber" placeholder="請輸入手機號碼" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">信箱：</label>
                        <div class="col-sm-8">
                            <input name="email" class="form-control" type="text" placeholder="請輸入信箱">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">登入帳號：</label>
                        <div class="col-sm-8">
                            <input name="loginName" placeholder="請輸入登入帳號" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">登錄密碼：</label>
                        <div class="col-sm-8">
                            <input name="password" placeholder="請輸入登錄密碼" class="form-control" type="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用戶性別：</label>
                        <div class="col-sm-8">
                            <div class="input-group" style="width: 100%">
                                <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
				                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用戶狀態：</label>
                        <div class="col-sm-8">
                            <label class="toggle-switch switch-solid">
	                            <input type="checkbox" id="status" checked>
	                            <span></span>
	                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
	<th:block th:include="include :: footer" />
    <script type="text/javascript">
        function submitHandler() {
        	if ($.validate.form()) {
        		$.modal.msgSuccess('保存成功！');
            }
        }
    </script>
</body>
</html>
