<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('彈層表格')" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content fadeInRight">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                <h5>彈層框</h5>
	                </div>
	                <div class="ibox-content" id="test">
	                    <p>彈出複選框表格及單選框表格（點擊提交後得到數據）。 </p>
	                    <button type="button" class="btn btn-primary" onclick="selectCheckUser()">彈出表格（複選框）</button>
	                    <button type="button" class="btn btn-success" onclick="selectRadioUser()">彈出表格（單選框）</button>
	                </div>
	            </div>
	        </div>
	        <div class="col-sm-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                <h5>彈層框</h5>
	                </div>
	                <div class="ibox-content" id="test">
	                    <p>彈出層，點擊提交後得到數據並回顯到父窗體。 </p>
	                    <button type="button" class="btn btn-primary" onclick="selectUsersToParent()">彈出表格（方式一）</button>
	                    <button type="button" class="btn btn-success" onclick="selectUsersToParentCallBack2()">彈出表格（方式二）</button>
	                    <button type="button" class="btn btn-info" onclick="selectUsersToParentCallBack3()">彈出表格（方式三）</button>
	                    <p id="userids"> </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-sm-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                <h5>彈層框</h5>
	                </div>
	                <div class="ibox-content" id="test">
	                    <p>多層彈出，點擊提交後得到數據並回顯到父窗體。 </p>
	                    <button type="button" class="btn btn-primary" onclick="selectUsersToParent4()">彈出窗口（方式四）</button>
	                    <p id="username"> </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "demo/modal";

        function selectCheckUser(){
        	$.modal.open("選擇用戶", prefix + "/check");
        }

		function selectRadioUser(){
			$.modal.open("選擇用戶", prefix + "/radio");
        }

		// 根據當前啟用的選項卡獲取（方式一）
		function selectUsersToParent(){
			$.modal.open("選擇用戶", prefix + "/parent");
        }
		
		// callBack獲取父窗口方法（方式二）
		function selectUsersToParentCallBack2(){
            var options = {
                title: '選擇用戶',
                url: prefix + "/parent",
                callBack: doSubmit2
             };
             $.modal.openOptions(options);
        }

		// callBack獲取父窗口值（方式三）
		function selectUsersToParentCallBack3(){
            var options = {
                title: '選擇用戶',
                url: prefix + "/parent",
                callBack: doSubmit3
             };
             $.modal.openOptions(options);
        }
		
		// callBack獲取父窗口值（方式四）
		function selectUsersToParent4(){
			var prefix = ctx + "demo/modal";
            var options = {
                title: '多層窗口A',
                url: prefix + "/frame1",
                callBack: doSubmit4
            };
            $.modal.openOptions(options);
        }
		
		function doSubmit2(index, layero){
		    var rows = layero.find("iframe")[0].contentWindow.getSelections();
		    if (rows.length == 0) {
                $.modal.alertWarning("請至少選擇一條紀錄");
                return;
            }
		    $('#userids').html('我是透過方式二來的：' + rows.join())
		    $.modal.close(index);
		}

		function doSubmit3(index, layero){
			var body = $.modal.getChildFrame(index);
   			$("#userids").html('我是透過方式三來的：' + body.find('#rowIds').val());
   			$.modal.close(index);
		}
		
		function doSubmit4(index, layero){
			var body = $.modal.getChildFrame(index);
   			$("#username").html('我是透過方式四來的：' + body.find('#name').val());
   			$.modal.close(index);
		}
		
		function selectUsers(){
			alert(1);
		}
	</script>
</body>
</html>
