<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('按鈕')" />
</head>
<body class="gray-bg">
     <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>按鈕顏色</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:;">選項1</a>
                            </li>
                            <li><a href="javascript:;">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        可使用class來快速改變按鈕的顏色，如<code>.btn-primary</code>
                    </p>

                    <h3 class="font-bold">
                            普通按鈕
                        </h3>
                    <p>
                        <button type="button" class="btn btn-w-m btn-default">btn-default</button>
                        <button type="button" class="btn btn-w-m btn-primary">btn-primary</button>
                        <button type="button" class="btn btn-w-m btn-success">btn-success</button>
                        <button type="button" class="btn btn-w-m btn-info">btn-info</button>
                        <button type="button" class="btn btn-w-m btn-warning">btn-warning</button>
                        <button type="button" class="btn btn-w-m btn-danger">btn-danger</button>
                        <button type="button" class="btn btn-w-m btn-white">btn-white</button>
                        <button type="button" class="btn btn-w-m btn-link">btn-link</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>按鈕大小</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:;">選項1</a>
                            </li>
                            <li><a href="javascript:;">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        可以通過添加class的值為<code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code>來修改按鈕的大小
                    </p>
                    <h3 class="font-bold">按鈕尺寸</h3>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">大按鈕</button>
                        <button type="button" class="btn btn-default btn-lg">大按鈕</button>
                        <br/>
                        <button type="button" class="btn btn-primary">默認按鈕</button>
                        <button type="button" class="btn btn-default">默認按鈕</button>
                        <br/>
                        <button type="button" class="btn btn-primary btn-sm">小按鈕</button>
                        <button type="button" class="btn btn-default btn-sm">小按鈕</button>
                        <br/>
                        <button type="button" class="btn btn-primary btn-xs">Mini按鈕</button>
                        <button type="button" class="btn btn-default btn-xs">Mini按鈕</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>線性按鈕</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:;">選項1</a>
                            </li>
                            <li><a href="javascript:;">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        要使用線性按鈕，可添加class<code>.btn-block</code>或<code>.btn-outline</code>
                    </p>

                    <h3 class="font-bold">線性按鈕</h3>
                    <p>
                        <button type="button" class="btn btn-outline btn-default">默認</button>
                        <button type="button" class="btn btn-outline btn-primary">主要</button>
                        <button type="button" class="btn btn-outline btn-success">成功</button>
                        <button type="button" class="btn btn-outline btn-info">資訊</button>
                        <button type="button" class="btn btn-outline btn-warning">警告</button>
                        <button type="button" class="btn btn-outline btn-danger">危險</button>
                        <button type="button" class="btn btn-outline btn-link">連結</button>
                    </p>
                    <h3 class="font-bold">塊級按鈕</h3>
                    <p>
                        <button type="button" class="btn btn-block btn-outline btn-primary">這是一個塊級按鈕</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>3D按鈕</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:;">選項1</a>
                            </li>
                            <li><a href="javascript:;">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        可以通過添加<code>.dim</code>class來使用3D按鈕.
                    </p>
                    <h3 class="font-bold">3D按鈕</h3>

                    <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-money"></i>
                    </button>
                    <button class="btn btn-warning dim btn-large-dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-danger  dim btn-large-dim" type="button"><i class="fa fa-heart"></i>
                    </button>
                    <button class="btn btn-primary  dim btn-large-dim" type="button"><i class="fa fa-dollar"></i>6</button>
                    <button class="btn btn-info  dim btn-large-dim btn-outline" type="button"><i class="fa fa-ruble"></i>
                    </button>
                    <button class="btn btn-primary dim" type="button"><i class="fa fa-money"></i>
                    </button>
                    <button class="btn btn-warning dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-primary dim" type="button"><i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-success  dim" type="button"><i class="fa fa-upload"></i>
                    </button>
                    <button class="btn btn-info  dim" type="button"><i class="fa fa-paste"></i>
                    </button>
                    <button class="btn btn-warning  dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-default  dim " type="button"><i class="fa fa-star"></i>
                    </button>
                    <button class="btn btn-danger  dim " type="button"><i class="fa fa-heart"></i>
                    </button>

                    <button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-money"></i>
                    </button>
                    <button class="btn btn-outline btn-warning dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-outline btn-success  dim" type="button"><i class="fa fa-upload"></i>
                    </button>
                    <button class="btn btn-outline btn-info  dim" type="button"><i class="fa fa-paste"></i>
                    </button>
                    <button class="btn btn-outline btn-warning  dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-outline btn-danger  dim " type="button"><i class="fa fa-heart"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>下拉按鈕</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="javascript:;">選項1</a>
                                    </li>
                                    <li><a href="javascript:;">選項2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>
                                下拉按鈕可使用任何顏色任何大小
                            </p>

                            <h3 class="font-bold">下拉按鈕</h3>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>

                            <br/>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <br/>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-warning btn-xs dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">置頂</a>
                                    </li>
                                    <li><a href="javascript:;" class="font-bold">修改</a>
                                    </li>
                                    <li><a href="javascript:;">禁用</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">刪除</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>按鈕組</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="javascript:;">選項1</a>
                                    </li>
                                    <li><a href="javascript:;">選項2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <h3 class="font-bold">按鈕組</h3>
                            <div class="btn-group">
                                <button class="btn btn-white" type="button">左</button>
                                <button class="btn btn-primary" type="button">中</button>
                                <button class="btn btn-white" type="button">右</button>
                            </div>
                            <br/>
                            <br/>
                            <div class="btn-group">
                                <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i>
                                </button>
                                <button class="btn btn-white">1</button>
                                <button class="btn btn-white  active">2</button>
                                <button class="btn btn-white">3</button>
                                <button class="btn btn-white">4</button>
                                <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>圖示按鈕 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:;">選項1</a>
                            </li>
                            <li><a href="javascript:;">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        任何按鈕都可以在左側或右側添加圖示
                    </p>

                    <h3 class="font-bold">圖示按鈕</h3>
                    <p>
                        <button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;提交</button>
                        <button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">上傳</span>
                        </button>
                        <button class="btn btn-info " type="button"><i class="fa fa-paste"></i> 編輯</button>
                        <button class="btn btn-warning " type="button"><i class="fa fa-warning"></i> <span class="bold">警告</span>
                        </button>
                        <button class="btn btn-default " type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;百度地圖</button>

                        <a class="btn btn-success">
                            <i class="fa fa-weixin"> </i> 分享到微信
                        </a>
                        <a class="btn btn-success btn-outline">
                            <i class="fa fa-qq"> </i> 使用QQ帳號登入
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-user-md"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-group"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-check-circle-o"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-road"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-ambulance"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-star"></i> 收藏
                        </a>
                    </p>

                    <h3 class="font-bold">按鈕切換</h3>
                    <button data-toggle="button" class="btn btn-primary btn-outline" type="button">按鈕1</button>
                    <button data-toggle="button" class="btn btn-primary" type="button">按鈕2</button>
                    <div data-toggle="buttons-checkbox" class="btn-group">
                        <button class="btn btn-primary active" type="button"><i class="fa fa-bold"></i> 粗體</button>
                        <button class="btn btn-primary" type="button"><i class="fa fa-underline"></i> 下劃線</button>
                        <button class="btn btn-primary active" type="button"><i class="fa fa-italic"></i> 斜體</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>圓形圖示按鈕</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="javascript:;">選項1</a>
                                    </li>
                                    <li><a href="javascript:;">選項2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>
                                要使用圓形圖示按鈕，可以通過添加class為<code>.btn-circle</code>實現
                            </p>

                            <h3 class="font-bold">圓形按鈕</h3>
                            <br/>
                            <button class="btn btn-default btn-circle" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i>
                            </button>
                            <button class="btn btn-success btn-circle" type="button"><i class="fa fa-link"></i>
                            </button>
                            <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-danger btn-circle" type="button"><i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-outline" type="button"><i class="fa fa-heart"></i>
                            </button>
                            <br/>
                            <br/>
                            <button class="btn btn-default btn-circle btn-lg" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-primary btn-circle btn-lg" type="button"><i class="fa fa-list"></i>
                            </button>
                            <button class="btn btn-success btn-circle btn-lg" type="button"><i class="fa fa-link"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn-lg" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-lg" type="button"><i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-lg btn-outline" type="button"><i class="fa fa-heart"></i>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>圓角按鈕</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="javascript:;">選項1</a>
                                    </li>
                                    <li><a href="javascript:;">選項2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>
                                可以通過添加class的值微<code>.btn-rounded</code>來實現圓角按鈕
                            </p>

                            <h3 class="font-bold">按鈕組</h3>
                            <p>
                                <a class="btn btn-default btn-rounded" href="javascript:;">預設</a>
                                <a class="btn btn-primary btn-rounded" href="javascript:;">主要</a>
                                <a class="btn btn-success btn-rounded" href="javascript:;">成果</a>
                                <a class="btn btn-info btn-rounded" href="javascript:;">資訊</a>
                                <a class="btn btn-warning btn-rounded" href="javascript:;">警告</a>
                                <a class="btn btn-danger btn-rounded" href="javascript:;">危險</a>
                                <a class="btn btn-danger btn-rounded btn-outline" href="javascript:;">危險</a>
                                <br/>
                                <br/>
                                <a class="btn btn-primary btn-rounded btn-block" href="javascript:;"><i class="fa fa-info-circle"></i> 圓角塊級帶圖示按鈕</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
