<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('多級同步下拉')" />
</head>
<body class="gray-bg">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>多級同步下拉<small>https://github.com/ciaoca/cxSelect</small></h5>
                    </div>  
                    <div class="ibox-content">
                        <p>簡單同步範例。</p>
                        <div id="element" class="row">
                            <div class="col-sm-2">
	                            <select class="type form-control m-b" data-first-title="請選擇">
				                  <option value="">請選擇</option>
				                </select>
			                </div>
			                <div class="col-sm-2">
				                <select class="router form-control m-b" data-first-title="請選擇">
				                  <option value="">請選擇</option>
				                </select>
			                </div>
                        </div>
                        <hr>
                        
                        <p>國內省市區同步。</p>
                        <div id="element1" class="row">
                            <div class="col-sm-2">
	                            <select class="province form-control m-b" data-first-title="選擇省">
				                  <option value="">請選擇</option>
				                  <option value="廣東省" selected>廣東省</option>
				                </select>
			                </div>
			                <div class="col-sm-2">
				                <select class="city form-control m-b" data-first-title="選擇市">
				                  <option value="">請選擇</option>
				                  <option value="深圳市" selected>深圳市</option>
				                </select>
			                </div>
			                <div class="col-sm-2">
				                <select class="area form-control m-b" data-first-title="選擇地區">
				                  <option value="">請選擇</option>
				                  <option value="南山區" selected>南山區</option>
				                </select>
			                </div>
                        </div>
                        <hr>
                        
                        <p>自訂選項。</p>
                        <div id="element2" class="row">
                            <div class="col-sm-2">
	                            <select class="first form-control m-b"></select>
			                </div>
			                <div class="col-sm-2">
				                <select class="second form-control m-b"></select>
			                </div>
			                <div class="col-sm-2">
				                <select class="third form-control m-b"></select>
			                </div>
			                <div class="col-sm-2">
				                <select class="fourth form-control m-b"></select>
			                </div>
			                <div class="col-sm-2">
			                    <select class="fifth form-control m-b"></select>
			                </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="font-noraml">相關參數詳細資訊</label>
                            <div><a href="http://doc.ruoyi.vip/ruoyi/document/zjwd.html#jquery-cxselect" target="_blank">http://doc.ruoyi.vip/ruoyi/document/zjwd.html#jquery-cxselect</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-cxselect-js" />
    <script th:inline="javascript">
        // 直接返回獲取
   		var data = [[${data}]];
    	$('#element').cxSelect({
    	  selects: ['type', 'router'],
    	  jsonValue: 'v',
    	  data: data
    	});
    	
    	// 通過默認url獲取
    	var urlChina = 'cityData';
    	$.cxSelect.defaults.url = urlChina;
    	$('#element1').cxSelect({
   		  selects: ['province', 'city', 'area'],
   		  nodata: 'none'
   		});
    	
    	// 固定值獲取
    	$('#element2').cxSelect({
   		  selects: ['first', 'second', 'third', 'fourth', 'fifth'],
   		  required: true,
   		  jsonValue: 'v',
   		  data: [
   			{'v': '1', 'n': '第一級 >', 's': [
   			  {'v': '2', 'n': '第二級 >', 's': [
   				{'v': '3', 'n': '第三級 >', 's': [
   				  {'v': '4', 'n': '第四級 >', 's': [
   					{'v': '5', 'n': '第五級 >', 's': [
   					  {'v': '6', 'n': '第六級 >'}
   					]}
   				  ]}
   				]}
   			  ]}
   			]},
   			{'v': 'test number', 'n': '測試數字', 's': [
   			  {'v': 'text', 'n': '文本類型', 's': [
   				{'v': '4', 'n': '4'},
   				{'v': '5', 'n': '5'},
   				{'v': '6', 'n': '6'},
   				{'v': '7', 'n': '7'},
   				{'v': '8', 'n': '8'},
   				{'v': '9', 'n': '9'},
   				{'v': '10', 'n': '10'}
   			  ]},
   			  {'v': 'number', 'n': '數值類型', 's': [
   				{'v': 11, 'n': 11},
   				{'v': 12, 'n': 12},
   				{'v': 13, 'n': 13},
   				{'v': 14, 'n': 14},
   				{'v': 15, 'n': 15},
   				{'v': 16, 'n': 16},
   				{'v': 17, 'n': 17}
   			  ]}
   			]},
   			{'v': 'test boolean','n': '測試 Boolean 類型', 's': [
   			  {'v': true ,'n': true},
   			  {'v': false ,'n': false}
   			]},
   			{v: 'test quotes', n: '測試屬性不加引號', s: [
   			  {v: 'quotes', n: '引號'}
   			]},
   			{v: 'test other', n: '測試奇怪的值', s: [
   			  {v: '[]', n: '數組（空）'},
   			  {v: [1,2,3], n: '數組（數值）'},
   			  {v: ['a','b','c'], n: '數組（文字）'},
   			  {v: new Date(), n: '日期'},
   			  {v: new RegExp('\\d+'), n: '正則對象'},
   			  {v: /\d+/, n: '正則直接量'},
   			  {v: {}, n: '對象'},
   			  {v: document.getElementById('custom_data'), n: 'DOM'},
   			  {v: null, n: 'Null'},
   			  {n: '未設置 value'}
   			]},
   			{'v': '' , 'n': '無子級'}
   		  ]
   		});
    </script>
</body>
</html>
