<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('拖動排序')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>任務列表</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之間拖動任務面板</p>

                        <div class="input-group">
                            <input type="text" placeholder="添加新任務" class="input input-sm form-control">
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> 添加</button>
                                </span>
                        </div>

                        <ul class="sortable-list connectList agile-list">
                            <li class="warning-element">
                                加強過程管理，及時統計教育經費使用情況，做到底碼清楚，
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標籤</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                支持財會人員的繼續培訓工作。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                協同教導處搞好助學金、減免教科書費的工作。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="danger-element">
                                要求會計、出納人員嚴格執行財務制度，遵守崗位職責，按時上報各種資料。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-primary">確定</a>
                                    <i class="fa fa-clock-o"></i> 2018.06.10
                                </div>
                            </li>
                            <li class="warning-element">
                                做好職工公費醫療工作，按時發放門診費。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標籤</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                有計劃地把課本複習三至五遍。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-primary">確定</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                看一本高品質的高中語法書
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                選擇一份較好的英語報紙，通過閱讀提高英語學習效果。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>進行中</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之間拖動任務面板</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="success-element">
                                全面、較深入地掌握我們“產品”的功能、特色和優勢並做到應用自如。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標籤</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                根據自己以前所了解的和從其他途徑搜索到的資訊，輸入客戶資料150家。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="warning-element">
                                鎖定有意向客戶20家。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                力爭完成銷售指標。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標籤</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="info-element">
                                在總結和摸索中前進。
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-primary">確定</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                不斷學習行業知識、產品知識，為客戶帶來實用介紹內容
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="danger-element">
                                先友後單：與客戶發展良好友誼，轉換銷售員角色，處處為客戶著想
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.11.04
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>已完成</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> 在列表之間拖動任務面板</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="info-element">
                                制定工作日程表
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                每天堅持打40個有效電話，挖掘潛在客戶
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標籤</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                拜訪客戶之前要對該客戶做全面的了解(客戶的潛在需求、職位、權限以及個人性格和愛好)
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標籤</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                提高自己電話行銷技巧，靈活專業地與客戶進行電話交流
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-primary">確定</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                透過電話銷售過程中了解各盛市的設備儀器使用、採購情況及相關重要追蹤人
                                <div class="agile-detail">
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-white">標記</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <script>
	    $(document).ready(function () {
	        $(".sortable-list").sortable({connectWith: ".connectList"}).disableSelection()
	    });
    </script>
</body>
</html>
