<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Summernote富文本編輯器')" />
	<th:block th:include="include :: summernote-css" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Summernote 富文本編輯器</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="summernote">
                            <h2>若依後台管理系統</h2>
                            <p>ruoyi是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的就jQuery插件，她可以用於所有的Web應用程式，如<b>網站管理後台</b>，<b>網站會員中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                            <p>
                                <b>當前版本：</b>v4.8.0
                            </p>
                            <p>
                                <span class="label label-warning">免費開源</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h2>Summernote</h2>
                        <p>
                            Summernote是一個簡單的基於Bootstrap的WYSIWYG富文本編輯器
                        </p>
                        <div class="alert alert-warning"> 官方文件請參考：
                            <a href="https://github.com/summernote/summernote">https://github.com/summernote/summernote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>編輯/保存為html代碼範例</h5>
                        <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()" type="button">編輯</button>
                        <button id="save" class="btn btn-primary  btn-xs" onclick="save()" type="button">保存</button>
                    </div>
                    <div class="ibox-content" id="eg">

                        <div class="click2edit wrapper">
                            <h3>你好，若依 </h3>
                            <p>H+是一個完全響應式，基於Bootstrap3.3.7最新版本開發的扁平化主題，她採用了主流的左右兩欄式布局，使用了Html5+CSS3等現代技術，她提供了諸多的強大的可以重新組合的UI組件，併集成了最新的jQuery版本(v2.1.1)，當然，也集成了很多功能強大，用途廣泛的就jQuery插件，她可以用於所有的Web應用程式，如<b>網站管理後台</b>，<b>網站會員中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，當然，您也可以對她進行深度訂製，以做出更強系統。</p>
                            <p>
                                <b>當前版本：</b>v4.8.0
                            </p>
                            <p>
                                <span class="label label-warning">開源免費</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                lang: 'zh-CN'
            });
        });
        var edit = function () {
            $("#eg").addClass("no-padding");
            $('.click2edit').summernote({
                lang: 'zh-CN',
                focus: true
            });
        };
        var save = function () {
            $("#eg").removeClass("no-padding");
            var aHTML = $('.click2edit').summernote('code');
            $('.click2edit').summernote('destroy');
        };
    </script>
</body>
</html>
