<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('選項卡 & 面板')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>基本面板 <small class="m-l-sm">這是一個自訂面板</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="javascript:;">選項1</a>
                                </li>
                                <li><a href="javascript:;">選項2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Bootstrap<br/>
                        </h2>
                        <p>
                            簡潔、直觀、強悍的前端開發框架，讓web開發更迅速、簡單。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 第一個選項卡</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">第二個選項卡</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <strong>HTML5 文件類型</strong>
                                <p>Bootstrap 使用到的某些 HTML 元素和 CSS 屬性需要將頁面設置為 HTML5 文件類型。在你項目中的每個頁面都要參照下面的格式進行設置。</p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <strong>行動裝置優先</strong>
                                <p>在 Bootstrap 2 中，我們對框架中的某些關鍵部分增加了對行動裝置友好的樣式。而在 Bootstrap 3 中，我們重寫了整個框架，使其一開始就是對行動裝置友好的。這次不是簡單的增加一些可選的針對行動裝置的樣式，而是直接融合進了框架的內核中。也就是說，Bootstrap 是行動裝置優先的。針對行動裝置的樣式融合進了框架的每個角落，而不是增加一個額外的文件。</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel blank-panel">

                    <div class="panel-heading">
                        <div class="panel-title m-b-md">
                            <h4>圖示選項卡</h4>
                        </div>
                        <div class="panel-options">

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-4"><i class="fa fa-laptop"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-desktop"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-signal"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-7"><i class="fa fa-bar-chart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="tab-4" class="tab-pane active">
                                <strong>排版與連結</strong>

                                <p>Bootstrap 排版、連結樣式設置了基本的全局樣式。分別是： 為 body 元素設置 background-color: #fff; 使用 @font-family-base、@font-size-base 和 @line-height-base a變數作為排版的基本參數 為所有連結設置了基本顏色 @link-color ，並且當連結處於 :hover 狀態時才添加下劃線 這些樣式都能在 scaffolding.less 文件中找到對應的原始碼。</p>
                            </div>

                            <div id="tab-5" class="tab-pane">
                                <strong>Normalize.css</strong>

                                <p>為了增強跨瀏覽器表現的一致性，我們使用了 Normalize.css，這是由 Nicolas Gallagher 和 Jonathan Neal 維護的一個CSS 重設樣式庫。</p>
                            </div>
                            <div id="tab-6" class="tab-pane">
                                <strong>布局容器</strong>

                                <p>Bootstrap 需要為頁面內容和柵格系統包裹一個 .container 容器。我們提供了兩個作此用處的類。注意，由於 padding 等屬性的原因，這兩種 容器類不能互相嵌套。</p>
                            </div>
                            <div id="tab-7" class="tab-pane">
                                <strong>柵格系統</strong>

                                <p>Bootstrap 提供了一套響應式、行動裝置優先的流式柵格系統，隨著螢幕或視口（viewport）尺寸的增加，系統會自動分為最多12列。它包含了易於使用的預定義類，還有強大的mixin 用於生成更具語義的布局。</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-sm-6">
                <div class="tabs-container">

                    <div class="tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-8"> 第一個選項卡</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-9"> 第二個選項卡</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-8" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>排版與連結</strong>

                                    <p>Bootstrap 排版、連結樣式設置了基本的全局樣式。分別是： 為 body 元素設置 background-color: #fff; 使用 @font-family-base、@font-size-base 和 @line-height-base a變數作為排版的基本參數 為所有連結設置了基本顏色 @link-color ，並且當連結處於 :hover 狀態時才添加下劃線 這些樣式都能在 scaffolding.less 文件中找到對應的原始碼。</p>
                                </div>
                            </div>
                            <div id="tab-9" class="tab-pane">
                                <div class="panel-body">
                                    <strong>柵格系統</strong>

                                    <p>Bootstrap 提供了一套響應式、行動裝置優先的流式柵格系統，隨著螢幕或視口（viewport）尺寸的增加，系統會自動分為最多12列。它包含了易於使用的預定義類，還有強大的mixin 用於生成更具語義的布局。</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="tabs-container">
                    <div class="tabs-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-10">第一個選項卡</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-11"> 第二個選項卡</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-10" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>排版與連結</strong>

                                    <p>Bootstrap 排版、連結樣式設置了基本的全局樣式。分別是： 為 body 元素設置 background-color: #fff; 使用 @font-family-base、@font-size-base 和 @line-height-base a變數作為排版的基本參數 為所有連結設置了基本顏色 @link-color ，並且當連結處於 :hover 狀態時才添加下劃線 這些樣式都能在 scaffolding.less 文件中找到對應的原始碼。</p>
                                </div>
                            </div>
                            <div id="tab-11" class="tab-pane">
                                <div class="panel-body">
                                    <strong>柵格系統</strong>

                                    <p>Bootstrap 提供了一套響應式、行動裝置優先的流式柵格系統，隨著螢幕或視口（viewport）尺寸的增加，系統會自動分為最多12列。它包含了易於使用的預定義類，還有強大的mixin 用於生成更具語義的布局。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Bootstrap面板 <small>自訂背景</small></h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        默認面板
                                    </div>
                                    <div class="panel-body">
                                        <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合適的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        主要
                                    </div>
                                    <div class="panel-body">
                                        <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合適的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        成功
                                    </div>
                                    <div class="panel-body">
                                        <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合適的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> 資訊
                                    </div>
                                    <div class="panel-body">
                                        <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合適的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <i class="fa fa-warning"></i> 警告
                                    </div>
                                    <div class="panel-body">
                                        <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合適的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        危險
                                    </div>
                                    <div class="panel-body">
                                        <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合適的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                    </div>
                                    <div class="panel-footer">
                                        面板Footer
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>摺疊面板</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="javascript:;">選項1</a>
                                </li>
                                <li><a href="javascript:;">選項2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">標題 #1</a>
                                            </h5>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Bootstrap相關優質項目推薦 這些項目或者是對Bootstrap進行了有益的補充，或者是基於Bootstrap開發的
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">標題 #2</a>
                                            </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Bootstrap相關優質項目推薦 這些項目或者是對Bootstrap進行了有益的補充，或者是基於Bootstrap開發的
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">標題 #3</a>
                                            </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Bootstrap相關優質項目推薦 這些項目或者是對Bootstrap進行了有益的補充，或者是基於Bootstrap開發的
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                    <h1>超大螢幕</h1>
                    <p>Bootstrap 支持的另一個特性，超大螢幕（Jumbotron）。顧名思義該組件可以增加標題的大小，並為登入頁面內容添加更多的外邊距（margin）。使用超大螢幕（Jumbotron）的步驟如下：</p>
                    <div class="alert alert-warning">
                        <ol>
                            <li>創建一個帶有 class .jumbotron. 的容器</li>
                            <li>除了更大的 &lt;h1&gt;，字體粗細 font-weight 被減為 200px。</li>
                        </ol>
                    </div>

                    <p><a role="button" class="btn btn-primary btn-lg">了解更多</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
