<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間軸</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="row animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="text-center float-e-margins p-md">
                <span>打開/關閉顏色/背景或方向版本: </span>
                <a href="javascript:;" class="btn btn-xs btn-primary" id="lightVersion">輕型版本 </a>
                <a href="javascript:;" class="btn btn-xs btn-primary" id="darkVersion">黑色版本 </a>
            </div>
            <div id="ibox-content">
                 <div id="vertical-timeline" class="vertical-container light-timeline">
                     <div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon navy-bg">
                             <i class="fa fa-briefcase"></i>
                         </div>

                         <div class="vertical-timeline-content">
                             <h2>會議</h2>
                             <p>上一年的銷售業績發布會。總結產品行銷和銷售趨勢及銷售的現狀。
                             </p>
                             <a href="javascript:;" class="btn btn-sm btn-primary"> 更多資訊</a>
                             <span class="vertical-date">
                         	今天 <br>
                         <small>2月3日</small>
                     </span>
                         </div>
                     </div>

                     <div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon blue-bg">
                             <i class="fa fa-file-text"></i>
                         </div>

                         <div class="vertical-timeline-content">
                             <h2>給張三發送文件</h2>
                             <p>發送上年度《銷售業績報告》</p>
                             <a href="javascript:;" class="btn btn-sm btn-success"> 下載文件 </a>
                             <span class="vertical-date">
                         	今天 <br>
                         <small>2月3日</small>
                     </span>
                         </div>
                     </div>

                     <div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon lazur-bg">
                             <i class="fa fa-coffee"></i>
                         </div>

                         <div class="vertical-timeline-content">
                             <h2>喝咖啡休息</h2>
                             <p>喝咖啡啦，啦啦啦~~</p>
                             <a href="javascript:;" class="btn btn-sm btn-info">更多</a>
                             <span class="vertical-date"> 昨天 <br><small>2月2日</small></span>
                         </div>
                     </div>

                     <div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon yellow-bg">
                             <i class="fa fa-phone"></i>
                         </div>

                         <div class="vertical-timeline-content">
                             <h2>給李四打電話</h2>
                             <p>給李四打電話分配本月工作任務</p>
                             <span class="vertical-date">昨天 <br><small>2月2日</small></span>
                         </div>
                     </div>

                     <div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon lazur-bg">
                             <i class="fa fa-user-md"></i>
                         </div>

                         <div class="vertical-timeline-content">
                             <h2>公司年會</h2>
                             <p>發年終獎啦，啦啦啦~~</p>
                             <span class="vertical-date">前天 <br><small>2月1日</small></span>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script>
        $(document).ready(function(){
            $('#lightVersion').click(function(event) {
                event.preventDefault()
                $('#ibox-content').removeClass('ibox-content');
                $('#vertical-timeline').removeClass('dark-timeline');
                $('#vertical-timeline').addClass('light-timeline');
            });
            $('#darkVersion').click(function(event) {
                event.preventDefault()
                $('#ibox-content').addClass('ibox-content');
                $('#vertical-timeline').removeClass('light-timeline');
                $('#vertical-timeline').addClass('dark-timeline');
            });
        });
    </script>
</body>
</html>
