<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RuoYi - 404</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">找不到網頁！</h3>
        <div class="error-desc">
                                對不起，您正在尋找的頁面不存在。嘗試檢查URL的錯誤，然後按瀏覽器上的刷新按鈕或嘗試在我們的應用程式中找到其他內容。
            <a href="javascript:index()" class="btn btn-primary m-t">首頁</a>
        </div>
    </div>
    <script th:inline="javascript">
      var ctx = [[@{/}]];
      function index() {
    	  window.top.location = ctx + "index";
      }
    </script>
</body>
</html>
